body {
    background: #f9f9f9;
    font-family: sans-serif;
}

.logContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background: #fff;
    border: solid #e8e8e8 1px;
    border-radius: 4px;
}

.logTitle {
    padding:10px;
    background: #f5f5f5;
    border-bottom: solid #e8e8e8 1px;
}

.log {
    overflow: auto;
}

.entry {
    top: 0;
    padding: 10px;
}

.tag {
    background: green;
    color: white;
    padding: 2px;
    border-radius: 2px;
    margin: 0 2px;
}

.date {
    margin-right: 3px;
    color: #848484
}

.msg {
    margin-left: 3px;
}